
port: 7882
rtc:
  tcp_port: 7883
  port_range_start: 50300
  port_range_end: 50400
  use_external_ip: true
  enable_loopback_candidate: false
  turn_servers:
    - host: turn.example.com
      port: 5349
      protocol: tls
      secret: "[your-coturn-static-auth-secret]"

keys:
  slopcast: "<openssl rand -hex 32>"

redis:
  address: localhost:6379
  db: 1

room:
  auto_create: true
  empty_timeout: 300

logging:
  level: info
